<form (submit)="submit(issueForm)" #issueForm="ngForm">
  <div>
    <h2 class="display-2">Create your own match!</h2>
  </div>
  <div class="form-group">
    <!-- <small id="venueHelp" class="form-text text-muted">Give the venue of the issue (e.g. labor)</small> -->
    <mat-form-field>
      <input matInput
        type="text"
        name="name"
        [(ngModel)]="model.name"
        aria-describedby="nameHelp"
        placeholder="Enter name"
        required
        #name="ngModel">
    </mat-form-field>
    <mat-error *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.required">
      name is required!
    </mat-error>
  </div>

  <div class="form-group">
    <!-- <small id="venueHelp" class="form-text text-muted">Give the venue of the issue (e.g. labor)</small> -->
    <mat-form-field>
      <input matInput
        type="text"
        name="venue"
        [(ngModel)]="model.venue"
        aria-describedby="venueHelp"
        placeholder="Enter venue"
        required
        #venue="ngModel">
    </mat-form-field>
    <mat-error *ngIf="venue.invalid && (venue.dirty || venue.touched) && venue.errors.required">
      venue is required!
    </mat-error>
  </div>
    
  <div class="form-group">
    <!-- <small id="venueHelp" class="form-text text-muted">Give the venue of the issue (e.g. labor)</small> -->
    <mat-form-field>
      <input matInput
        type="text"
        name="orgnaizer"
        [(ngModel)]="model.organizer"
        aria-describedby="organizerHelp"
        placeholder="Enter organizer"
        required
        #organizer="ngModel">
    </mat-form-field>
    <mat-error *ngIf="organizer.invalid && (organizer.dirty || organizer.touched) && organizer.errors.required">
      organizer is required!
    </mat-error>
  </div>
    
  <div class="form-group">
    <input type="radio" value="SINGLE_MATCH" name="type" [ngModel]="model.type" #type="ngModel"> SINGLE_MATCH
    <input type="radio" value="TOURNAMENT" name="type" [ngModel]="model.type" #type="ngModel"> TOURNAMENT
  </div>

    <button mat-raised-button
      [disabled]="!issueForm.valid" 
      type="submit"
      color="primary">
      Save event
    </button> 
  </form>