<mat-toolbar color="primary">
        <button mat-button href="/">
          <mat-icon>sports_soccer</mat-icon>
          Ballerz homepage
        </button>
      
        <span class="fill-remaining-space" fxHide="false" fxHide.gt-sm></span>
        <div fxLayout="row" fxShow="false" fxShow.gt-sm>
          <div *ngIf="authService.isLoggedIn">
            <button mat-button routerLink="/issues">My Events</button>
            <button mat-button routerLink="/issues/add">New events</button>
            <span>Hello, {{ authService.user.username }}!</span>
            <button mat-button (click)="logout()">Logout</button>
            <mat-icon>lock_open</mat-icon>
          </div>
          <div *ngIf="!authService.isLoggedIn">
            <mat-icon>lock</mat-icon>
            <button mat-button routerLink="/login">Login</button>
          </div>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu" fxHide="false" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
      <mat-menu xPosition="before" #menu="matMenu">
        <div *ngIf="authService.isLoggedIn">
          <button mat-menu-item routerLink="/issues">My issues</button>
          <button mat-menu-item routerLink="/issues/add">New issues</button>
          <button mat-menu-item (click)="logout()">Logout</button>
          <mat-icon>lock_open</mat-icon>
        </div>
        <div *ngIf="!authService.isLoggedIn">
          <mat-icon>lock_open</mat-icon>
          <button mat-menu-item routerLink="/login">Login</button>
        </div>
      </mat-menu>
      
      <router-outlet></router-outlet>