html {
    background-image: url(resources/background.png);
    background-size: cover;
	min-width: 400px;
	max-width: 1920px;
}

html body {
	background-color:#8fc7ff;
	text-align: justify;
	font-size: 100%;
	min-width: 400px;
	max-width: 1600px;
	width: 90%;
	margin: auto;
	padding: 2%;
	border-radius: 20px;
	margin-top: 2%;
	margin-bottom: 2%;
}

html body nav {
    font-size: 500%;
}